.cherry-bomb one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Cherry Bomb One', sans-serif;
    margin: 0;
    padding: 0;
    position: relative; /* Set position to relative for pseudo-element positioning */
    background: url("images/city.gif") no-repeat;
    background-size: cover;
    color: #fff;
    outline: black;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8); /* Adjust the alpha value to control the darkness of the overlay */
    z-index: -1; /* Place the overlay behind the content */
}

header {
    background: rgba(0, 0, 0, 0.7);
    font: sans-serif;
    color: #fff;
    text-align: center;
    padding: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    text-align: center;
    display: inline-flex;
}

.contact-info {
    text-align: right;
}

.contact-info p {
    margin: 0; /* Remove default margin for better alignment */
}

.social-icons img {
    width: 20px; /* width of the icons */
    margin-left: 10px; /* Space between the icons */
}

nav {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 40px;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 0.5em 0; /* Adjust the padding to make the footer smaller */
}

canvas {
    position: fixed;
    inset: 0;
}

.fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image: url("../images/galaxy2.gif");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    font-family: sans-serif;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
}

.image-grid img {
    width: 10%;
    height: 10%;
    border-radius: 8px;
}

.collage {
    margin: 0 10px;
    padding: 0;
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-content: center;
    

}
/*
.collage column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.collage row::after{
    content: "";
    clear: both;
    display: table;
}

.collage img {
    width:16dvh;
    height:10dvh;
}

@media screen and (max-width: 500px) {
    .collage .column {
      width: 100%;
    }
  }
*/

